html {
	font-size: 62.5%;
}
html,
body {
	height: 100%;
	line-height: 1.2;
	background-color: $bodyBG;
	color: $bodyColor;
	font-family: $bodyFF;
}
body {
	font-size: $bodyFZ;
	&._lock {
		overflow: hidden;
	}
}
// ----------------------------------------------------------------------------
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

._container,
.container {
	min-width: #{$minWidth}px;
	width: 100%;
	max-width: #{$maxWidth}px;
	margin: 0 auto;
	//box-sizing: content-box;
}

//------------------------------

// --------------------------------------------------------HEADER
$headerHeight: 70px;
